/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinha o conteúdo do container para o topo */
}

a {
    text-decoration: none;
    color: inherit;
}

/*--------------------------------Cabeçalho------------------------------------*/

/* Contêiner para logo e header */
.header-container {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between;
    width: 100%;
    position: fixed; /* Mantém no topo */
    top: 0;
    z-index: 1000;
    background-color: black; /* Cor de fundo do cabeçalho */
    padding: 10px 20px;
}

/* Contêiner de pesquisa, Central de Atendimento e Entrar/Cadastrar */
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.logo {
    flex: 1; /* Permite que a logo ocupe espaço igual */
    text-align: center; /* Centraliza a logo */
}
/* Logo e carrinho na mesma linha em telas grandes */
.logo-container {
    display: flex;
    justify-content: space-between; /* Espaça a logo e o carrinho */
    width: 100%; /* Garante que ocupe toda a largura */
    max-width: 1200px; /* Limita a largura máxima do cabeçalho */
}

/* Estilo da logo */
.logo img {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 20px; /* Espaço entre a logo e o restante */
}

/* Ajustes no main-header para mantê-lo flexível */
.main-header {
    display: flex;
    flex-grow: 1; /* O header ocupa o espaço restante */
    justify-content: space-between;
    padding: 22px 20px;
    align-items: center;
}

/*central de ajuda*/
.logo1 img {
    width: 160px;
    height: auto;
    object-fit: contain;
    margin-right: 50px;
}

/* Modal da Central de Atendimento */
.support-modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    justify-content: center;
    align-items: center;
}

.support-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombras para destacar */
    color: #000;
}

.close-support-modal {
    color: #aaa;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-support-modal:hover,
.close-support-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.support-whatsapp-btn,
.support-instagram-btn,
.support-email-btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #28a745; /* Cor do botão WhatsApp */
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease; /* Transição para efeito de zoom */
}

.support-instagram-btn {
    background-color: #E1306C; /* Cor do botão Instagram */
}

.support-email-btn {
    background-color: #007bff; /* Cor do botão E-mail */
}

.support-whatsapp-btn:hover,
.support-instagram-btn:hover,
.support-email-btn:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.support-whatsapp-btn:hover {
    background-color: #218838;
}

.support-instagram-btn:hover {
    background-color: #C13584;
}

.support-email-btn:hover {
    background-color: #0056b3;
}

/* login/cadastro */
.logo2 {
    display: inline-block; /* Limita a área clicável ao conteúdo da logo */
    position: relative;
    margin-right: 150px; /* Mantém o espaçamento entre a logo e outros elementos */
}

.logo2 img {
    width: 160px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

/* Esconde o menu do usuário */
.hidden {
    display: none;
}

.perfil-menu {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1003;
    border-radius: 8px; /* Bordas arredondadas */
    display: none; /* Começa escondido */
    white-space: nowrap; /* Garante que o conteúdo não quebre a linha */
}

.perfil-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.perfil-menu ul li {
    padding: 4px 8px; /* Diminui o padding para reduzir a área clicável */
}

/* Estilo dos links */
.perfil-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block; /* Faz o link ocupar toda a área do li */
    border-radius: 4px; /* Bordas arredondadas para os itens do menu */
    transition: background-color 0.3s; /* Transição suave para o fundo */
    width: auto; /* Remove a largura fixa para que o botão se ajuste ao texto */
    padding: 4px 8px; /* Ajusta o padding para diminuir a área clicável */
}

/* Efeito ao passar o mouse */
.perfil-menu ul li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

/* Search Area */
.search-area {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 50px;
    margin-right: 20px;
}

.search-area input {
    padding: 15px; /* Aumentei a altura */
    width: 350px; /* Diminui a largura */
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.search-area button {
    background-color: #ffffff; /* Botão com cor dourada */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px; /* Aumentei a altura */
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.search-area button:hover {
    transform: scale(1.05); /* Aumenta a escala quando passa o mouse */
    background-color: #3e4246;
}

/* Account and Cart Section */
.cart img, .account img {
    width: 40px;
    height: auto;
    margin-left: 20px;
    cursor: pointer; /* Garante que seja clicável */
}

/* Estilo do ícone do carrinho */
.cart {
    position: fixed;
    top: 20px;
    right: 90px;
    display: inline-block;
    flex-shrink: 0; /* Garante que o carrinho não encolha */
    margin-left: auto; /* Manda o carrinho para a direita */
}

.cart img {
    width: 30px;
    height: auto;
    cursor: pointer;
    margin-top: 18px;
}

#cart-count {
    position: absolute;
    top: -10px; /* Ajuste conforme necessário */
    right: -10px; /* Ajuste conforme necessário */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
}

/* Estilo do modal do carrinho */
#cart-modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    z-index: 1000; /* Fica acima de outros elementos */
    overflow-y: auto; /* Permite rolar se necessário */
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

/* Conteúdo do modal */
#cart-modal-content {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    min-height: 100%;
    position: relative;
    width: 100%;
}

/* Botão de fechar */
.close-cart {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

/* Itens do carrinho */
#cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    transition: transform 0.2s ease; /* Adiciona a transição */
}

.cart-item:hover {
    transform: scale(1.05); /* Aumenta a escala quando passa o mouse */
    border-color: #0a74da;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-item .product-details {
    flex: 1;
}

.cart-item .product-name {
    font-weight: bold;
    text-align: left;
}

.cart-item .product-price {
    font-size: 14px;
    color: #555;
}

.cart-item .remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #d9534f;
}

.cart-total {
    margin: 10px 0 10px; /* Aumenta a margem superior para mover para baixo */
    font-weight: bold;
    font-size: 16px;
}

/* Botão de comprar */
#checkout-button {
    margin: 20px auto; /* Centraliza o botão */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Garante que o texto do botão fique centralizado */
}

#checkout-button:hover {
    background-color: #0056b3;
}

.account img {
    margin-right: 20px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column; /* Faz os itens ficarem em coluna */
        padding: 9px 0px;
    }

    .logo {
        margin-bottom: 7px;
        margin-right: 15%;
    }

    .logo img {
        width: 150px;
    }

    /* Container para os outros itens */
    .header-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    /* Logo do Central de Ajuda */
    .logo1 img {
        width: 30px;
        margin-right: 20px;
        content: url('/img/Central2.0.png'); /* Troca a imagem do logo1 */
    }

    .logo2 img {
        width: 120px;
    }

    /* Área de busca */
    .search-area {
        flex-grow: 1;
        margin: 0 10px;
    }

    .search-area input {
        width: 180px;
        padding: 10px;
    }

    .search-area button {
        width: auto;
        padding: 10px;
    }

    /* Ícone do carrinho */
    .logo-container {
        justify-content: center; /* Centraliza logo e carrinho na coluna */
    }

    .cart {
        position: fixed;
        top: -4px;
        right: 40px;
        display: inline-block;
        flex-shrink: 0; /* Garante que o carrinho não encolha */
        margin-left: auto; /* Manda o carrinho para a direita */
    }

    .cart img {
        width: 30px;
    }

    /* Ajustes para o modal do carrinho */
    #cart-modal {
        width: 80%;
        max-width: 300px;
    }
}

/* Para telas muito pequenas, como em dispositivos móveis */
@media (max-width: 480px) {
    .logo img {
        width: 120px; /* Tamanho menor da logo */
    }
    
    .search-container{
        flex-direction: column; /* Coloca os elementos em coluna */
    }

    /* Logo do Central de Ajuda */
    .logo1 img {
        width: 20px;
        margin-right: 20px;
        content: url('/img/Central2.0.png'); /* Troca a imagem do logo1 */
    }

    .logo2 img {
        width: 100px;
    }
    .search-area input {
        padding: 8px;
    }

    .search-area button {
        padding: 8px;
    }
}

/* Estilos para desktop */
@media (min-width: 769px) {
    header {
        display: block;
    }

    .menu-button {
        display: none;
    }
}

/* Black Line Separator */
.separator {
    height: 9px;
    background-color: rgb(255, 255, 255);
    margin-top: 105px;
}

/* Estilização da barra de navegação */
.nav-bar {
    background-color: black;
    padding: 2px 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 998;
    transition: opacity 0.3s ease;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: bold;
    white-space: nowrap;
}

.nav-bar li a:hover {
    color: #565252;
}

.dropdown-container ul li a{
    color: #0f0d0d;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: bold;
}

.dropdown-container ul li a:hover{
    background-color: #e9e6e6; /* Cor de fundo ao passar o mouse */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilização do dropdown */
.nav-bar .dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 10px;
    width: 200px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar ul li:hover .dropdown {
    display: block;
}

.nav-bar .dropdown li {
    margin-bottom: 5px;
    display: block;
}

.marca-item {
    color: #000; /* Cor preta para os nomes das marcas */
}

.marca-item:hover {
    color: #333;
}

/* Container da imagem */
.imagem-marcas-container {
    display: none; /* Esconde o quadrado por padrão */
    position: absolute;
    width: 200px; /* Ajuste a largura conforme necessário */
    height: 200px; /* Ajuste a altura conforme necessário */
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 999;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Adiciona transição suave */
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(10px); /* Suaviza o movimento ao aparecer */
}

.imagem-marcas-container.mostrar {
    opacity: 1; /* Torna visível quando o mouse está sobre a marca */
    transform: translateY(0); /* Remove o movimento */
}

.imagem-marcas-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

/* Responsividade nav-bar*/
@media (max-width: 768px) {
    .nav-bar ul {
        width: 100%; /* Mantém a largura da lista como 100% */
        justify-content: space-between; /* Distribui os itens uniformemente */
    }

    /* Esconde a imagem das marcas em telas menores */
    .imagem-marcas-container {
        display: none; /* Esconde o quadrado por padrão */
        position: absolute;
        width: 0px; /* Ajuste a largura conforme necessário */
        height: 0px; /* Ajuste a altura conforme necessário */
        border-radius: 5px;
        opacity: 0; /* Inicialmente invisível */
    }

    /* Reduz o padding dos links para melhor ajuste em telas menores */
    .nav-bar li a {
        padding: 8px; /* Ajusta o padding para itens menores */
    }

    /* Evita que a imagem das marcas apareça ao passar o mouse */
    .nav-bar ul li:hover .imagem-marcas-container {
        display: none; /* Mantém a imagem das marcas oculta */
    }
}

/*------------------------Quadrado----------------------------------*/

.back-container {
    position: fixed; /* Fixa a posição da seta em relação à tela */
    top: 100px; /* Ajuste a altura abaixo do header/navigation-bar */
    left: 20px; /* Define a posição da seta no canto esquerdo */
    z-index: 100; /* Garante que a seta fique por cima de outros elementos */
}

.back-button {
    color: #007bff;
    font-size: 50px;
    text-decoration: none;
}

.options {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 100%; /* Usa 100% da largura da tela */
    max-width: 600px; /* Define um limite máximo de largura */
    min-height: 400px; /* Altura mínima */
    margin: 40px auto; /* Centraliza a caixa horizontalmente e adiciona espaço vertical */
}

.header {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center; /* Centraliza o cabeçalho */
    width: 100%;
    border-bottom: 2px solid #003366;
}

h1 {
    margin: 0;
    font-size: 30px;
}

.option {
    display: block;
    background-color: black;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 10px auto; /* Centraliza os botões */
    border-radius: 5px;
    width: 100%; /* Garante que os botões ocupem toda a largura disponível */
    max-width: 300px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #0056b3;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/*------------------- Estilos Responsivos --------------------------*/

@media screen and (max-width: 768px) {
    .back-button {
        font-size: 40px; /* Reduz o tamanho da seta em telas menores */
    }
    
    .options {
        width: 90%; /* Ajusta a largura da caixa em telas menores */
        min-height: 350px; /* Reduz a altura mínima */
        padding: 15px; /* Reduz o espaçamento interno */
    }

    h1 {
        font-size: 24px; /* Reduz o tamanho do texto do cabeçalho */
    }

    .option {
        max-width: 90%; /* Torna os botões mais largos em telas menores */
    }
}

@media screen and (max-width: 480px) {
    .back-button {
        font-size: 30px; /* Reduz o tamanho da seta ainda mais */
    }
    
    .options {
        width: 95%; /* Garante que a caixa ocupe quase toda a largura */
        min-height: 300px; /* Altura mínima menor */
        padding: 10px; /* Reduz o padding para economizar espaço */
    }

    h1 {
        font-size: 20px; /* Reduz ainda mais o tamanho do cabeçalho */
    }

    .option {
        max-width: 100%; /* Os botões ocupam toda a largura */
        padding: 10px; /* Ajusta o padding do botão para caber melhor */
    }

    .alert {
        font-size: 14px; /* Reduz o tamanho da fonte dos alertas em telas menores */
        padding: 10px;
    }
}


/*--------------------------------Footer------------------------------------*/

/* Footer */
footer {
    background-color: black;
    color: #fff;
    padding: 50px 0;
    font-size: 14px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-content div {
    width: 30%;
    text-align: center; /* Centraliza os textos */
}

footer h3 {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center; /* Centraliza os títulos */
}

footer p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.payment-images {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre as imagens */
}

footer img {
    width: 60px; /* Tamanho igual para todas as imagens */
    margin: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #fff;
    padding-top: 15px;
    font-size: 12px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    color: #00bcd4;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    footer .footer-content {
        flex-direction: column; /* Coloca as colunas em linha vertical no mobile */
        text-align: center;
    }

    footer .footer-content div {
        width: 100%; /* Coloca cada seção com 100% de largura no mobile */
        margin-bottom: 20px;
    }

    .payment-images {
        justify-content: center;
        margin-left: 0;
    }

    footer img {
        width: 50px; /* Ajusta o tamanho das imagens no mobile */
    }
}